[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/html_link/project/django-pumasi/bin/uwsgi -i /home/ubuntu/pumasi_link/pumasi/.config/uwsgi/pumasi.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target